.navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid; 
    padding-inline: 50px; 
    position: fixed;
    width: 98.5%;
    z-index: 2;
    gap: 20px;

}
nav{
    background: #ffbf00;

}
.menu{
    
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    
   
}
.nav-colored{background-color: white;}
.all-post img{
    width: 300px;
    padding-block: 30px;
}
.nav-button{background-color:black ;}
.bottone-colored{background-color: green;}
button.menu{
    color: white;
    width: 100px;
    height: 40px;
    border-color: transparent;
    border-radius: 50px;}

.logo{flex-grow: 0.7;}

.container-main{
    
    display: flex;
    justify-content: space-around;
    height: 500px;
    border-bottom: 2px solid ;
    padding-top: 100px;
    background-color: #ffbf00;
}
.container-main button{background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border-color: transparent;
    border-radius: 50px;
font-size: 25px;}

.main{
    width:600px ;
    align-self: center;
    padding-left: 15%; 
    flex-grow: 1
    
    
}

h1{font-size: 120px;}
.container-main p{padding-top: 40px;
    font-size: 30px;
    padding-bottom: 30px;
}
.trending-on-medium{
    flex-wrap: wrap;
    display: flex;
    height: 300px;
    justify-content: center;
    padding-inline: 10%;
    border-bottom: 2px solid;

}
article{
    display: flex;
    min-width: 390px;

}
.numero-trend{font-size: 30px;
height: 100%;
font-weight: 700;
padding-right: 20px;
opacity: 20%;}

h3{padding-left: 20%;
    padding-top: 30px;
    padding-bottom: 20px;
font-size: 20px;}

.container-posts-footer{
    display: flex;
    justify-content: space-evenly;
    padding-inline: 10%;
    gap: 100px;
}
.all-post{display: flex;
flex-direction: column;}


.container-post{display: flex;
width: 900px;}

.post{align-self: center;}

.post h4{font-size: 20px;
    padding-block: 10px;}
.title-post{font-weight: 700;
font-size: 25px; padding-bottom: 10px;}

.post h4::before{content: ".....";
    background-image: url(/assets/imgs/image15.jpeg);
    background-size: cover;
    color: transparent;
    border-radius: 50px;
}
.content-trend{width: 250px;}
.paragraf-trend{font-weight: 900;
padding-top: 10px;}
.trend-date{ padding-top: 10px;
    opacity: 50%;}

.footer h5{font-size: 20px;
    padding-top: 50px;
padding-bottom: 20px;}
.footer button{border-color: transparent;
    margin: 5px;
font-size: 15px;}
    .bottom-button{background-color: transparent;}
    .footer{width: 350px;
        position: sticky;
    align-self: flex-start;
    z-index: 3;
    top: 90px;
}

    .footer h5{font-size: 18px;
    font-weight: 600;}

    .top-button{
        border-radius: 20px;
        height: 40px;
    }
    .footer p{
        padding-top: 20px;
        color: green;
        font-size: 16px;
        padding-bottom: 20px;
    }
    button:hover{cursor: pointer;
        color: red;
    }
    .container-post button{border-color:transparent;
        font-size: 16px;
    border-radius: 5px;}
    .post-date{ opacity: 70%;}
    .content-post{    line-height: 1.2;
        font-size: 17px;
    padding-bottom: 15px;}

        /* .container-post button::after{content: "&#x2728";} */
        .content-trend h5::before{content: "......";
        background-image: url(/assets/imgs/image13.png);
    background-size: cover;
color: transparent;
border-radius: 5px;}

@media screen and (max-width: 500px){
    body{width: 500px;}
    .container-main{display: block; }
    h1{font-size: 55px;
    padding-top: 40px;}
    .container-main p{font-size: 18px;}
    .navbar{width: 420px;}
.container-main{height: 330px;}
    .hide{display: none;}
    .M{
        display: none;
    }
    .trending-on-medium{
        height: max-content;
        padding-block: 10px;
        display: block;
    }
    article{padding-block: 20px;
    
}
    h3{padding-bottom: 20px;}
    .container-posts-footer{display: block;
        width: 450px;
        padding-inline: 0px;
    }
    .container-post{display: block;}
    .all-post{display: block;}
}

    
